export NOMAD_ADDR=https://{{ nomad_advertise_address }}:{{ nomad_ports.http }}
export NOMAD_CACERT={{ nomad_ca_file }}
export NOMAD_CLIENT_CERT={{ nomad_cli_cert_file }}
export NOMAD_CLIENT_KEY={{ nomad_cli_key_file }}